<!DOCTYPE html>
<html lang="{{ config.siteLang }}">
  <head>
    <link rel="preload" href="/assets/styles/normalize.css" as="style" />
    
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="{{ config.siteDescription }}" />
    <title>{{ title }}</title>

    <!--cache busting-->
    {% if page.url == '/' %}
    <meta http-equiv="Cache-Control" content="max-age=0, must-revalidate"/>
    <meta http-equiv="Pragma" content="no-cache"/>
    <meta http-equiv="Expires" content="0" />
    {% endif %}

    <!--opengraph cards-->
    <meta property="og:title" content="{{ config.siteName }}" />
    <meta property="og:description" content="{{ title }}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ config.siteURL }}{{ page.url }}" />
    <meta property="og:image" content="{{ config.siteURL }}/social.png" />
    
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="{{ config.siteName }}" />
    <meta name="twitter:description" content="{{ title }}" />
    <meta name="twitter:image" content="{{ config.siteURL }}/social.png" />

    <!--styles-->
    <link rel="stylesheet" href="/assets/styles/normalize.css" type="text/css" />
    <link rel="stylesheet" href="/assets/styles/style.css" type="text/css" />
    <!--USER STYLE-->
    <link rel="stylesheet" type="text/css" title="light" href="/assets/styles/themes/light-theme.css">
    <link rel="alternate stylesheet" type="text/css" title="dark" href="/assets/styles/themes/dark-theme.css"> 
    <link rel="alternate stylesheet" type="text/css" title="seventies" href="/assets/styles/themes/contrast.css"> 
    <link rel="alternate stylesheet" type="text/css" title="cat" href="/assets/styles/themes/cat-theme.css"> 

    <link rel="icon" sizes="16x16 24x24 32x32 64x64" href="/favicon.ico">
  </head>
  {{ content }}
  <script>
    // *** TO BE CUSTOMISED ***

var style_cookie_name = "style" ;
var style_cookie_duration = 30 ;
var style_domain = "https://koshka-korner.neocities.org/_site/" ;

// *** END OF CUSTOMISABLE SECTION ***
// You do not need to customise anything below this line

function switch_style ( css_title )
{
// You may use this script on your site free of charge provided
// you do not remove this notice or the URL below. Script from
// https://www.thesitewizard.com/javascripts/change-style-sheets.shtml
  var i, link_tag ;
  for (i = 0, link_tag = document.getElementsByTagName("link") ;
    i < link_tag.length ; i++ ) {
    if ((link_tag[i].rel.indexOf( "stylesheet" ) != -1) &&
      link_tag[i].title) {
      link_tag[i].disabled = true ;
      if (link_tag[i].title == css_title) {
        link_tag[i].disabled = false ;
      }
    }
    set_cookie( style_cookie_name, css_title,
      style_cookie_duration, style_domain );
  }
}
function set_style_from_cookie()
{
  var css_title = get_cookie( style_cookie_name );
  if (css_title.length) {
    switch_style( css_title );
  }
}
function set_cookie ( cookie_name, cookie_value,
    lifespan_in_days, valid_domain )
{
    // https://www.thesitewizard.com/javascripts/cookies.shtml
    var domain_string = valid_domain ?
                       ("; domain=" + valid_domain) : '' ;
    document.cookie = cookie_name +
                       "=" + encodeURIComponent( cookie_value ) +
                       "; max-age=" + 60 * 60 *
                       24 * lifespan_in_days +
                       "; path=/" + domain_string ;
}
function get_cookie ( cookie_name )
{
    // https://www.thesitewizard.com/javascripts/cookies.shtml
	var cookie_string = document.cookie ;
	if (cookie_string.length != 0) {
		var cookie_array = cookie_string.split( '; ' );
		for (i = 0 ; i < cookie_array.length ; i++) {
			cookie_value = cookie_array[i].match ( cookie_name + '=(.*)' );
			if (cookie_value != null) {
				return decodeURIComponent ( cookie_value[1] ) ;
			}
		}
	}
	return '' ;
}

  </script>
   <button type="button" onclick="switch_style('light');return false;" name="theme" value="Blue Theme" id="blue">Blue Theme</button>
   <button type="button" onclick="switch_style('dark');return false;" name="theme" value="Pink Theme" id="pink">Pink Theme</button> 
   <button type="button" onclick="switch_style('seventies');return false;" name="theme" value="Pink Theme" id="pink">Pink Theme</button> 
   <button type="button" onclick="switch_style('cat');return false;" name="theme" value="Pink Theme" id="pink">Pink Theme</button> 


   </html>