---
layout: head.html
---

<head>
     <link rel="stylesheet" type="text/css" title="default" href="light-theme.css">
     <link rel="alternate stylesheet" type="text/css" title="light" href="dark-theme.css"> 
</head>

<body>
    <nav>
        <ol>
            <li><a href="/">Home</a></li>
            {% for i in collections.navbar %}
                <li><a href="{{ i.url }}">{{ i.data.title }}</a></li>
            {% endfor %}
        </ol>
        {% include "navbar.html" %}
    </nav>
    <main>
        <header>
            <h1>{{ title }}</h1>
            {% assign postCheck = collections.posts | getCollectionItem %}
            {% if postCheck %}
            <time>{{ page.date | dateFormat }}</time>
            {% endif %}
        </header>
        {{ content }}
        {% if page.url == '/'  and collections.posts%}
            <h2>Latest Posts:</h2>
            <ol id="latest_posts">
                {% assign latest_posts = collections.posts | reverse | getLatestFive %}
            {% for i in latest_posts %}
                <li>
                    <a href="{{ i.url }}">{{ i.date | dateFormat }} - {{ i.data.title }}</a>
                </li>
            {% endfor %}
            </ol>
        {% endif %}
    </main>
    {% assign previousPost = collections.posts | getPreviousCollectionItem %}
    {% assign nextPost = collections.posts | getNextCollectionItem %}
    {% if previousPost or nextPost %}

    <nav id="pagination">
        {% if previousPost %}
        <section class="pagectrl pageprev">
            <p>Previous:</p>
            <a href="{{ previousPost.url }}"><p>{{ previousPost.data.title }}</p><time>{{ previousPost.date | dateFormat }}</time></a>
        </section>
        {% endif %}

        {% if nextPost %}
        <section class="pagectrl pagenext">
            <p>Next:</p>
            <a href="{{ nextPost.url }}"><p>{{ nextPost.data.title }}</p><time>{{ nextPost.date | dateFormat }}</time></a>
        </section>
        {% endif %}
    </nav>
    {% endif %}

    {% if postCheck %}
    {% include "comments.html" %}
    {% endif %}

    <footer>
        <p>
            {{ config.siteName }} is written by 
            {% if config.authorLink != "" %}
                <a href="{{ config.authorLink }}">{{ config.siteAuthor }}</a>
                {% else %}
                {{ config.siteAuthor }}
            {% endif %}
        </p>
        {% if config.authorContact != "" %}
            <address>Contact: <a href="mailto:{{ config.authorContact}}">{{ config.authorContact }}</a></address>
        {% endif %}

        {% if config.creditTo != "" %}
            <address><a href="{{ config.creditTo}}">Credits :3</a></address>
        {% endif %}
        <aside>
            <p>
                <time class="lastupdate" datetime="{{lastUpdate}}">Last update: {{ lastUpdate }}</time>
                <a href="/feed.xml">RSS</a>
            </p>
            <a href="#">back to top</a>
        </aside>
    </footer>
</body>