a.gallerypic {
        width: 140px;
        text-decoration: none;
        position: relative;
        display: block;
        border: 1px solid #666;
        padding: 3px;
        margin-right: 5px;
        float: left;
      }

      a.gallerypic span.zoom-icon {
        visibility: hidden;
        position: absolute;
        left: 40%;
        top: 35%;
        filter: alpha(opacity=50);
        -moz-opacity: 0.5;
        -khtml-opacity: 0.5;
        opacity: 0.5;
      }

      a.gallerypic:hover span.zoom-icon {
        visibility: visible;
      }

      #scroll-container {
        overflow: hidden;
        width: 100%;
        white-space: nowrap;
      }

      #scroll-text {
        display: inline-block;
        text-align: left;
        white-space: nowrap;
        /* animation properties */
        transform: translateX(100%);
        animation: my-animation 10s linear infinite;
      }

      @keyframes my-animation {
        from {
          transform: translateX(-100%);
        }

        to {
          transform: translateX(100%);
        }
      }

      #body {
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 60%;
      }

      #body td,
      #body th {
        border: 1px solid #ddd;
      }

      #mainImg {
        display: block;
        padding: 30px;
        width: 300px;
        height: 200px;
        margin: auto;
      }

      #body th {
        text-align: center;
        background-color: #04AA6D;
        color: white;
        font-family: Arial;
        font-size: 500%;
      }

      #buttons td {
        text-align: center;
        font-size: 40px;
      }

      #stickers {
        width: 20px;
      }

      #stickers img {
        width: 150px;
        /* Set desired width */
        height: auto;
        /* Maintain aspect ratio */
      }

      #thicker td {
        height: 50px;
        font-size: 20px;
        vertical-align: middle;
      }