<!DOCTYPE html>
<html lang="{{ config.siteLang }}">
  <head>
    <link rel="preload" href="/assets/styles/normalize.css" as="style" />
    
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="{{ config.siteDescription }}" />
    <title>{{ title }}</title>

    <!--cache busting-->
    {% if page.url == '/' %}
    <meta http-equiv="Cache-Control" content="max-age=0, must-revalidate"/>
    <meta http-equiv="Pragma" content="no-cache"/>
    <meta http-equiv="Expires" content="0" />
    {% endif %}

    <!--opengraph cards-->
    <meta property="og:title" content="{{ config.siteName }}" />
    <meta property="og:description" content="{{ title }}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ config.siteURL }}{{ page.url }}" />
    <meta property="og:image" content="{{ config.siteURL }}/social.png" />
    
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="{{ config.siteName }}" />
    <meta name="twitter:description" content="{{ title }}" />
    <meta name="twitter:image" content="{{ config.siteURL }}/social.png" />

    <!--styles-->
    <link rel="stylesheet" href="/assets/styles/normalize.css" type="text/css" />
    <link rel="stylesheet" href="/assets/styles/style.css" type="text/css" />
    <link rel="stylesheet" href="/assets/styles/themes/{{ config.siteStyle }}.css" type="text/css" />
    <link rel="icon" sizes="16x16 24x24 32x32 64x64" href="/favicon.ico">
  </head>
  {{ content }}
</html>